# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/git_toolbox_blame.xml
/.idea/google-drive-app-strac.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/processed_files/api.ts
/processed_files/button.tsx
/processed_files/card.tsx
/processed_files/config.ts
/processed_files/dialog.tsx
/processed_files/drive-client.ts
/processed_files/env.d.ts
/processed_files/FileList.tsx
/processed_files/globals.css
/processed_files/layout.tsx
/processed_files/next.config.ts
/processed_files/next-auth.d.ts
/processed_files/page.tsx
/processed_files/progress.tsx
/processed_files/providers.tsx
/processed_files/route.ts
/processed_files/tailwind.config.ts
/processed_files/UploadForm.tsx
/processed_files/utils.ts
/processed_files/validateEnv.ts
/processed_files/BreadcrumbNav.tsx
/processed_files/eslint.config.mjs
/processed_files/FilePreview.tsx
/processed_files/jsconfig.json
/processed_files/middleware.ts
/processed_files/options.ts
/processed_files/package.json
/processed_files/postcss.config.mjs
/processed_files/README.md
/processed_files/tsconfig.json
/process_files.py
/.idea/jsLinters/eslint.xml
/processed_files/FileListItem.tsx
